
/* Globals */
:root {


    scroll-behavior: smooth;
}


/* MAIN PAGE STYLING */
main {
    margin-left: 12%;
}

.main-content-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 50%;
}

.main-content-container * {
    width: fit-content;
}


/* MOBILE HEADER */

/* header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
} */


/* LEFT SIDE NAV */

aside{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 0, 0, 0.5);
    height: 100%;
    width: 16rem;
}

.nav-container {
    height: 100%;
}

.nav-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-img-container {
    padding-top: 3rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.nav-img-container a{
    display:block;
    height: 10rem;
    width: 10rem;
    background-image: url('../img/Declan-Photo-min.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.nav-container nav {
    display: flex;
    flex-direction: column;
}

.nav-container nav a {
    padding: 1rem 1rem;
    font-size: 1.3rem;
}

.nav-container .socials-nav-container {
    display: flex;
    justify-content: center;
    margin: auto 1em 1em 1em;
}